openapi: 3.0.0
info:
  version: 1.0.0
  title: event-notification webhook
  description: |
    This is the specification of the 'event-notification' webhook. Disclaimer:
    - This specification file is to be interpreted as pseudo-code
    - once the structure and endpoints are agreed<
    * all mandatory and optional headers will have to be added
    * all error responses will have to be specified
    * example requests/responses will need to be improved
    * missing details in descriptions will have to be added
  contact:
    email: info@common-api.ch
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://webhook-notification.common-api.ch
security: []
paths:
  /event-notifications:
    post:
      summary: Send notification
      description: Send notification to consumer.
      operationId: sendEventNotification
      parameters:
        - $ref: '#/components/parameters/correlation_id'
      tags:
        - Notification Webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventNotification'
      responses:
        '202':
          description: event-notification accepted
          headers:
            Correlation-Id:
              $ref: '#/components/headers/Correlation-Id'
        '400':
          $ref: '#/components/responses/standard400'
        '404':
          $ref: '#/components/responses/standard404'
        '405':
          $ref: '#/components/responses/standard405'
        '429':
          $ref: '#/components/responses/standard429'
        '500':
          $ref: '#/components/responses/standard500'
        '501':
          $ref: '#/components/responses/standard501'
        '503':
          $ref: '#/components/responses/standard503'
        '504':
          $ref: '#/components/responses/standard504'
components:
  parameters:
    correlation_id:
      name: Correlation-Id
      in: header
      description: |
        Unique ID (defined by the caller) which will be reflected back in the response.
      required: true
      schema:
        type: string
        maxLength: 64
  schemas:
    EventNotification:
      type: object
      description: Schema of an event notification entity.
      required:
        - id
        - eventType
        - eventSubscriptionId
        - resourceLink
      properties:
        id:
          type: string
          description: Unique and unambiguous identification (i.e. UUID) of the event subscription.
          example: 120066c9-58a1-432b-aa60-712fae7f143e
        version:
          type: string
          description: Version of the notification schema.
          example: '1.0'
        eventType:
          type: string
          example: order:partiallyFilled
        eventSubscriptionId:
          type: string
          description: Id of the subscription that caused the event to be triggered.
          readOnly: true
          maxLength: 36
          example: 7c5f40fc-1b29-4263-a2dd-e127a22a947f
        resourceLink:
          type: string
          description: |
            The resourceLink is an absolute or relative URL reference to the specific resource or object that triggered the webhook event.
            This link provides immediate access to the full details of the affected item in the source system.
          example: /orders/e6751a48-0819-4482-98a4-760453ba770d
        creationDateTime:
          type: string
          format: date-time
          description: Timestamp of the creation of the event notification.
          example: 2022-10-26T07:58:30.996+0100
    CommonErrorType:
      title: Common Error Type
      type: string
      description: Error Types for commonErrorResponse. See Appendix for detailed information.
      example: /problems/TECHNICAL_ERROR
      enum:
        - /problems/INVALID_PAYLOAD
        - /problems/MALFORMED_PAYLOAD
        - /problems/TECHNICAL_ERROR
        - /problems/SUBSCRIPTION_NOT_FOUND
        - /problems/INSUFFICIENT_PRIVILEGES
        - /problems/INVALID_TOKEN
        - /problems/SUBSCRIPTION_ALREADY_EXISTS
        - /problems/TOO_MANY_REQUESTS
        - /problems/METHOD_NOT_ALLOWED
    CommonErrorResponse:
      title: Common Error Response
      type: object
      properties:
        type:
          $ref: '#/components/schemas/CommonErrorType'
        title:
          type: string
          example: This is the general problem description
        detail:
          type: string
          example: Detailed problem description with respect to the current request
        instance:
          type: string
          example: path/to/corresponding/resource
  headers:
    Correlation-Id:
      description: |
        Client defined ID from request to correlate HTTP requests between a
        client and a server
      schema:
        type: string
        maxLength: 64
        example: f058ebd6-02f7-4d3f-942e-904344e8cde5
  responses:
    standard400:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: Bad Request - The format of the request was invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/INVALID_PAYLOAD
            title: the request body was invalid
            detail: ...
            instance: path/to/corresponding/resource
    standard404:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: |
        Not Found - Either the endpoint does not exist or a requested resource is not available.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/SUBSCRIPTION_NOT_FOUND
            title: resource not found
            detail: ...
            instance: path/to/corresponding/resource
    standard405:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: |
        Method Not Allowed - The request method is known by the server but is
        not supported by the target resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/METHOD_NOT_ALLOWED
            title: method not allowed
            detail: ...
            instance: path/to/corresponding/resource
    standard429:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: |
        When an SU sends too many lookup or polling requests in a given amount
        of time the SP shall respond with HTTP 429 (Too many requests).
        This response may contain a Retry-After header indicating how long the SU
        must wait before making a new request.
        (see https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TOO_MANY_REQUESTS
            title: resource not found
            detail: ...
            instance: path/to/corresponding/resource
    standard500:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TECHNICAL_ERROR
            title: unexpected error occurred
            detail: ...
            instance: path/to/corresponding/resource
    standard501:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: |
        Not Implemented - The request method is not supported by the server and
        cannot be handled.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TECHNICAL_ERROR
            title: unexpected error occurred
            detail: ...
            instance: path/to/corresponding/resource
    standard503:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: Service Unavailable
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TECHNICAL_ERROR
            title: server unavailable
            detail: ...
            instance: path/to/corresponding/resource
    standard504:
      headers:
        Correlation-Id:
          $ref: '#/components/headers/Correlation-Id'
      description: Gateway Timeout
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/CommonErrorResponse'
          example:
            type: /problems/TECHNICAL_ERROR
            title: server unavailable
            detail: ...
            instance: path/to/corresponding/resource
